<?xml version="1.0" encoding="utf-8"?>
<!--
    BlindPath 语音唤醒模块 Manifest
    声明百度语音唤醒 SDK 所需的 AIDL 服务
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 百度语音唤醒 SDK - EventRecognitionService -->
    <service
        android:name="com.baidu.speech.aidl.EventRecognitionService"
        android:exported="false" />

</manifest>
